[data-theme="dark"] {
  --background-color: {{ .TextColor }};
  --text-color: {{ .BackgroundColor }};
  --main-color: {{ .AccentColor }};
  --accent-color: {{ .MainColor }};
}

.logo img {
  filter: invert(100%);
}

.hero {
  color: var(--background-color);
}

.hero-image {
  filter: invert(1);
}

pre {
  background: var(--text-color);
  color: var(--background-color);
  border-radius: 4px;
  padding: 1em;
}

