pre {
  border-radius: 4px;
  padding: 1em;
}

.hero {
  padding: 1em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 2em;
  background-repeat: repeat;
}

.hero-image img, .navbar img {
  filter: invert(100%);
}
