/* [data-theme="dark"] {
  --bg: {{ .Theme.Fg }};
  --fg: {{ .Theme.Bg }};
  --accent: {{ .Theme.Accent }};
  --muted-accent: {{ .Theme.MutedAccent }};
} */

pre {
  border-radius: 4px;
  padding: 1em;
}

.hero {
  padding: 1em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 2em;
  background-repeat: repeat;
}

.hero-image img, .navbar img {
  filter: invert(100%);
}

main {
  max-inline-size: calc(1.5 *var(--eff-line-length));
}

.navbar:not(.expanded) > :first-child, .navbar:not(.expanded) nav > :first-child { margin-inline-start: 0; }

.navbar:not(.expanded) >  :last-child, .navbar:not(.expanded) nav >  :last-child { margin-inline-end: 0; }
