{{ define "commentsHTML" }}
<div class="commentbox"></div>
<script src="https://rantbrain.com/js/comment-min.js"></script>

<script>
  // Initialize comment system
  initComments();
</script>
{{ end }}
