{{- define "entriesHTML" -}}
<div class="entries-list">
  <ul role="list">
    {{- range .Entries.SortByDate -}}
      <li class="entry-item">
        <article>
          <h2 hx-boost="true" class="title">
            <a
              hx-push-url="true"
              hx-target=".content"
              href="/{{$.BasePath}}{{.Page}}/{{.StaticFileName}}"
              >{{.Title}}
              <p class="htmx-indicator">loading...</p>
            </a>
          </h2>
          {{- if .Description -}}
            <p>{{.Description}}</p>
          {{- end -}}
          {{- if and .Date (ne (.Date.Format "01/02/2006") "01/01/0001") -}}
            <p class="date">{{.Date.Format "01/02/2006"}}</p>
          {{- end -}}
        </article>
      </li>
    {{- end -}}
  </ul>
</div>
{{- end -}}
