{{- define "headHTML" -}}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{- if .Site.Favicon -}}
    <link rel="icon" href="{{.BasePath}}{{ .Site.Favicon }}" />
  {{- end -}}
  <title>{{.Title}}</title>
  {{- if ne .Mode "build" -}}
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>
  {{- end -}}
  <link rel="stylesheet" type="text/css" href="{{.BasePath}}/css/style.css" />
  {{- if .Site.Stylesheet -}}
    <link rel="stylesheet" href="{{.BasePath}}{{ .Site.Stylesheet }}" />
  {{- end -}}
</head>
{{- end -}}
