{{- define "headerHTML" -}}
<header class="navbar">
  <nav aria-label="Site sections">
    <ul role="list">
      <li>
        <a class="logo" href="{{.BasePath}}/">
        {{- if .Site.Logo -}}
          <img alt="{{.Site.Name}}" src="{{.Site.Logo}}">
        {{- end -}}
        {{- if .Site.LogoText -}}
          <span class="logo-text">{{.Site.LogoText}}</span>
        {{- else -}}
          {{- if .Site.Name -}}
            <span class="logo-text">{{.Site.Name}}</span>
          {{- end -}}
        {{- end -}}
        </a>
      {{- range .Site.Pages -}}
        {{- if not .HideFromNav -}}
          {{- if eq $.RequestPath .Path -}}
            <li><a aria-current="page" class="page" href="{{$.BasePath}}{{ .Path }}">{{ .Name }}</a>
          {{- else -}}
            <li><a class="page" href="{{$.BasePath}}{{ .Path }}">{{ .Name }}</a>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    </ul>
  </nav>
</header>
{{- end -}}
