{{- define "menu" -}}
<details class="hamburger-wrap">
  <summary id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </summary>

  <nav class="menu-items">
    {{- range .Site.Pages -}}
      {{- if not .HideFromNav -}}
        <a href="{{$.BasePath}}{{ .Path }}" class="menu-item">{{ .Name }}</a>
      {{- end -}}
    {{- end -}}
  </nav>
</details>
{{- end -}}
