{{- define "styleCSS" -}}
:root {
  --background-color: {{ .BackgroundColor }};
  --text-color: {{ .TextColor }};
  --main-color: {{ .MainColor }};
  --accent-color: {{ .AccentColor }};
  --font-family: {{ .FontFamily }};
}

[data-theme="dark"] {
  --background-color: {{ .TextColor }};
  --text-color: {{ .BackgroundColor }};
  --main-color: {{ .AccentColor }};
  --accent-color: {{ .MainColor }};
}
{{- end -}}
