{{- define "styleCSS" -}}
:root {
  --bg: {{ .Theme.Bg }};
  --fg: {{ .Theme.Fg }};
  --muted-accent: {{ .Theme.MutedAccent }};
  --accent: {{ .Theme.Accent }};
{{- if .Theme.MainFont }}
  --main-font: {{ .Theme.MainFont }};
{{- end -}}
}

[data-theme="dark"] {
  --bg: {{ .Theme.Fg }};
  --fg: {{ .Theme.Bg }};
  --accent: {{ .Theme.Accent }};
  --muted-accent: {{ .Theme.MutedAccent }};
}

.navbar img {
  width: {{ .LogoWidth }};
  height: {{ .LogoHeight }};
}

.navbar .logo {
  display: flex;
  gap: 0.2em;
  align-items: center;
}

.navbar nav ul[role=list] {
  align-items: center;
}
{{- end -}}
