{{- define "headMeta" -}}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PubGo: A Dynamic Content Publishing Framework in Go. PubGo is a lightweight and customizable content publishing framework written in Go. Simplify content publishing, customize your website, and deliver engaging content with ease.">
    <meta name="keywords" content="PubGo, content publishing framework, Go framework, dynamic content publishing, lightweight framework">
    <meta name="author" content="Your Name or Your Company Name">
  <meta property="og:title" content="PubGo: A Dynamic Content Publishing Framework in Go">
  <meta property="og:description" content="PubGo is a lightweight and customizable content publishing framework written in Go. Simplify content publishing, customize your website, and deliver engaging content with ease.">
  <meta property="og:image" content="https://pubgo.org/static/logo.svg">
  <meta property="og:url" content="https://pubgo.org">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="PubGo">
  <meta property="og:locale" content="en_US">
{{- end -}}
